.vs/
.vscode/
bin/
obj/
*.user
Debug/
Release/
packages/
artifacts/
/testassets/MyRemoteBlazorApp/publish
/src/RemoteableWebWindowService/publish/RemoteableWebWindowService.pdb
/src/RemoteableWebWindowService/publish/RemoteableWebWindowService.exe.WebView2/EBWebView
/src/RemoteableWebWindowService/publish/RemoteableWebWindowService.exe
/src/RemoteableWebWindowService/publish
/src/RemoteableWebWindowService/publish.zip
