@using System.Net 
@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>Hostname:@hostname</p>

@code {
    int currentCount = 0;
    string hostname = "";

    void IncrementCount()
    {
        currentCount++;
    }
    protected override async Task OnInitializedAsync()
    {
        hostname = Dns.GetHostName();

    }
}
